* {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
}

.bottom-bar {
	display: flex;
	padding-top: 200px;
	position: relative;
}

.info-button {
	background: url("./assets/img/info_button/info_button_bg.png") 100% 100% / cover no-repeat;
	width: 148px;
	height: 152px;
	position: absolute;
	left: 137px;
	bottom: 22px;
}

.info-button__button {
	background: url("./assets/img/info_button/info_button_normal.png") 100% 100% / contain no-repeat;
	width: 114px;
	position: relative;
	height: 114px;
	margin: 0 auto;
	top: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	cursor: pointer;
}
.info-button__button:hover {
	background: url("./assets/img/info_button/info_button_hover.png") 100% 100% / contain no-repeat;
}
.info-button__button:active {
	background: url("./assets/img/info_button/info_button_active.png") 100% 100% / contain no-repeat;
}
.info-button__sign {
	height: 66px;
	width: 22px;
	background: url("./assets/img/info_button/info_sign.png") 100% 100% / contain no-repeat;
}

.totalbet {
	background: url("./assets/img/totalbet/totalbet_bg.png") 100% 100% / cover no-repeat;
	position: absolute;
	left: 259px;
	bottom: 22px;
	width: 438px;
	height: 148px;
}
.totalbet__conteiner {
	width: 390px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	top: 4px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.minus-button {
}
.totalbet__info {
	color: ivory;
}
.plus-button {
}
